@{
    ViewBag.Title = "Home ";
}

<div ng-app="universityApp">
    <div ng-controller="mainController">
        |
        <a href="students">Students</a><br /> |
        <a href="courses">Courses</a>

        <div ng-view></div>

        <hr />
    </div>
</div>